@import url(https://fonts.gstatic.com);
@import "tailwindcss";
@import "tw-animate-css";


 @plugin "daisyui" {
   themes: lemonade --default, dark   --prefersdark;
 }

 @theme {
  --font-Quantico: "Quantico", sans-serif;
   --font-Quintessential: "Quintessential", serif;

 }

 