@import url(https://fonts.gstatic.com);
@import "tailwindcss";
@import "tw-animate-css";


 
 @theme {
  --font-Quantico: "Quantico", sans-serif;
   --font-Quintessential: "Quintessential", serif;

 }

 